<!doctype html>
<html style="direction:{{textDirection}}" direction="{{textDirection}}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Vaccination scheduler">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{constant('VAX_NAME')}} - Your massive import was completed</title>
</head>
<body style="width:680px;font-size:14px;font-family:arial;max-width:680px;margin:0 auto;direction:{{textDirection}}" direction="{{textDirection}}">
  <img src="{{constant('VAX_HOME_URL')}}/public/images/logo.png" alt="logo"> 

  <h1 style="font-size:1.5em;margin:.5em 0 .75em">Your massive import was completed</h1>
  <p>You can find the result attached in this e-mail.</p>
  <p>Thank you for using our service.</p>
</body>
</html>